.modal.hide.fade.embed-code{:id => "data-#{certificate.id}"}
  .modal-header
    %button.close{:type => :button, 'data-dismiss' => :modal, 'aria-hidden' => true} &times;
    %h3= "Get this certificate as:"
  .modal-body
    .row-fluid
      %p.certificate-alternate= alternate_link_buttons